\.mxproject
\mx.scratch
Debug/
Release/

\.vscode/
\.settings/

build/
builds/

\.cproject

\.project

\.settings/com\.atollic\.truestudio\.debug\.hardware_device\.prefs

\.settings/language\.settings\.xml
