\.mxproject
\mx.scratch
Debug/
Release/

\.settings/

build/
builds/

\.cproject

\.project
\.vscode/\.cortex-debug\.peripherals\.state\.json

\.vscode/\.cortex-debug\.registers\.state\.json

\.vscode/settings\.json
